.DS_Store
.babelrc
.browserslistrc
.gulpfile-quackage-config.json
.gulpfile-quackage.js
.package.json.quackage.bak

package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Build output
dist

# Quackage takes care of these for me!
*.quackage.bak
